/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
    /*font-family: 'Bricolage Grotesque', sans-serif;*/
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
  }
h1{
    font-weight: 600;
}

.flex {
    display: flex;
}

.max{
    max-width: 1250px;
}

  nav ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .intro {
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;
  }
  
 
  /* Examples Section */

.examples {
    /* margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.examples h1 {
    font-size: 1.5rem;
}

.header-container {
    text-align: center;
}

.imgcardcont {
    justify-content: space-between;
    align-items: center;
}

.img-card {
    width: 23%;
    position: relative;
    height: 300px;
    background-color: black;
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.8)), url(https://assets.entrepreneur.com/content/3x2/2000/1634290910-ricke-76-LiFawPE9T8I-unsplash.jpg);
    background-size: cover;
}
.imgcardcont :nth-child(2) {
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.8)), url(https://img.freepik.com/premium-photo/pesticidespraying-tractor_410516-14598.jpg);
    background-size: cover;
}
.imgcardcont :nth-child(3) {
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.8)), url(https://t4.ftcdn.net/jpg/03/57/54/77/360_F_357547735_aTZvm1ec8Uzgsd1aTukmFiOw4iXX2aKS.jpg);
    background-size: cover;
}
.imgcardcont :nth-child(4) {
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.8)), url(https://wallpapercave.com/wp/wp1886351.jpg);
    background-size: cover;
}
.img-card a{
   position: absolute;
   left: 20px;
   right: 20px;
   bottom: 20px;
   color: white;
}
  .crops {
    text-align: center;
    padding: 30px;
  }
  
  .contact {
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  